h3 {
    margin: 2% 3%;
}
.column {
    float: left;
    width: 43%;
    margin: 0 3%;
}
.hard-data{
    padding: 7px 0 0 10px;
    text-align: left;
    font-weight: 400;
} 
.temp-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
textarea{
    background-color: #eee;
}
