{% extends "base.html" %}
{% block title %}Bio {% endblock title %}
{% block content %}
    <h2>42 Coffee Cups Test Assignment</h3>
    <div class="column">
        </br>
        <p>Name <b>Test</b></p>
        <p>Last name <b>Test</b></p>
        <p>Date of birth <b>01.01.2000</b></p>
        <p>Bio: <b>test test test test test tes ttetdadsn ;kj askjdh lkjh fds</b></p>
    </div>
    <div class="column">
        <h3>Contacts</h3>
        <p>Email: <b>Test@test.com</b></p>
        <p>Jabber: <b>Test@test.com</b></p>
        <p>Skype: <b>test_test</b></p>
        <p>Other contacts: <b>test test test test test tes ttetdadsn ;kj askjdh lkjh fds</b></p>
    </div>
{% endblock content %}