{% extends "base.html" %}
{% block title %}Bio {% endblock title %}
{% block content %}
    <form class="form-horizontal">
        <h3>42 Coffee Cups Test Assignment</h3>
        <div class="column">
            <div class="form-group">
                <label class="col-sm-4 temp-label">Name</label>
                <label class="col-sm-8 hard-data">{{ first_name }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Last name</label>
                <label class="col-sm-8 hard-data">{{ last_name }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Date of birth</label>
                <label class="col-sm-8 hard-data">{{ date_of_birth|date:"Y-m-d" }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Bio</label>
                <textarea class="col-sm-8" rows="5" disabled>{{ bio }}</textarea>
            </div>
        </div>
        <div class="column">
            <h4>Contacts</h4>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Email</label>
                <label class="col-sm-8 hard-data">{{ email }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Jabber</label>
                <label class="col-sm-8 hard-data">{{ jid }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Skype</label>
                <label class="col-sm-8 hard-data">{{ skype }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 temp-label">Other contacts</label>
                <textarea class="col-sm-8" rows="5" disabled>{{ other }}</textarea>
            </div>
        </div> 
    </form>
{% endblock content %}